@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("UserName");
}


<!--Offcanvas Menu Begin-->
<div class="offcanvas-menu-overlay"></div>

<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>

    <div class="offcanvas__logo">
        <a asp-controller="home" asp-action="index">
            <i class="fas fa-coffee"></i>
            CafedeLiem
        </a>
    </div>

    <ul class="offcanvas__widget">
        <li>
            <span class="search-switch">
                <i class="fas fa-search"></i>
            </span>
        </li>
        <li>
            @await Component.InvokeAsync("ShoppingCartSummary")
        </li>
        @if (userName != null)
        {
            <li class="nav-item dropdown" style="list-style: none; display: inline-block;">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#333; font-weight:500;">
                    👤 @userName
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                            <i class="fas fa-user"></i> Hồ sơ cá nhân
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Orders">
                            <i class="fas fa-list-ul"></i> Đơn hàng của tôi
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item text-danger" asp-controller="Login" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i> Đăng xuất
                        </a>
                    </li>
                </ul>
            </li>
        }
        else
        {
            <li>
                <a asp-controller="Account" asp-action="Login">Đăng nhập</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Register">Đăng ký</a>
            </li>
        }
    </ul>

    <div id="mobile-menu-wrap"></div>
</div>
<!--Offcanvas Menu End-->

<header class="header fixed-top" id="header-navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a asp-controller="home" asp-action="index">
                        <i class="fas fa-coffee"></i>
                        CafedeLiem
                    </a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="@ViewData["Home"]"><a asp-controller="home" asp-action="index">Trang chủ</a></li>
                        <li class="@ViewData["Products"]"><a asp-controller="products" asp-action="index">Sản phẩm</a></li>
                        <li class="@ViewData["News"]"><a asp-controller="news" asp-action="index">Tin tức</a></li>
                        <li class="@ViewData["About"]"><a asp-controller="about" asp-action="index">Giới thiệu</a></li>
                        <li class="@ViewData["Contact"]"><a asp-controller="contact" asp-action="index">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-3">
                <div class="header__right">
                    <ul class="header__right__widget">
                        <li>
                            <span class="search-switch" title="Tìm kiếm"><i class="fas fa-search"></i></span>
                        </li>
                        <li>
                            @await Component.InvokeAsync("ShoppingCartSummary")
                        </li>
                        @if (userName != null)
                        {
                            <li class="nav-item dropdown" style="list-style: none; display: inline-block;">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#333; font-weight:500;">
                                    👤 @userName
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                                            <i class="fas fa-user"></i> Hồ sơ cá nhân
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Orders">
                                            <i class="fas fa-list-ul"></i> Đơn hàng của tôi
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item text-danger" asp-controller="Login" asp-action="Logout">
                                            <i class="fas fa-sign-out-alt"></i> Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Login" asp-action="Login">
                                    Đăng nhập
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Login" asp-action="Register">
                                    Đăng ký
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="canvas__open">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>

<div class="header__behind"></div>
